Repository Jiahuis-ya/huiyu-main: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write ., eslint --fix --ext, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write .", "eslint --fix --ext"],
  "*.md": ["prettier --write"]
}

chore: 添加hook规则检测
  .eslintrc.js
  package-lock.json
  package.json
Due: prettier --write ., eslint --fix --ext

feat: add localStorage
  src/utils/local-storage.ts
Due: prettier --write ., eslint --fix --ext

feat: sass配置 && 文件别名
  .eslintrc.js
  README.md
  package-lock.json
  package.json
  remark.md
  src/assets/css/reset.css
  src/assets/sass/mixin.scss
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
Due: prettier --write ., eslint --fix --ext, prettier --write

docs: lintstagedrc记录
  .lintstagedrc.json
  remark.md
Due: prettier --write

feat: 增加loading
  .lintstagedrc.json
  .prettierrc.js
  src/App.tsx
  src/component/Loading/Index.scss
  src/component/Loading/Index.tsx
  src/main.tsx
Due: prettier --write ., eslint --fix --ext

chore: prettier配置修改
  .lintstagedrc.json
  .prettierrc.js
Due: prettier --write ., eslint --fix --ext

chore: update react
  package-lock.json
  package.json
Due: none

chore: vite配置修改
  .env
  .eslintrc.js
  .npmrc
  README.md
  config/vite/build/index.ts
  config/vite/css/index.ts
  config/vite/plugins/index.ts
  package-lock.json
  package.json
  remark.md
  tsconfig.json
  vite.config.ts
Due: prettier --write ., eslint --fix --ext, prettier --write
